

/* Media Queries */
/* laptop layout */
@media only screen and (min-width: 840px) {
  html {
    scroll-padding-top: 63px
  }
  h1 {
    padding: 20px;
    margin: 80px 0 0;
    font-size: 2rem;
  }
  nav {
    height: 63px;
  }
  .nav-mobile {
    display: none;
  }
  .socials {
    margin-top: 63px;
  }
  ul.socials-list li a img {
    display: block;
    margin: 0 10px 20px;
    width: 40px;
  }
  /*
  .home-wrapper {
      margin-top: 63px;
  }*/
}


/* mobile layout */
@media only screen and (max-width: 840px) {
  html {
    scroll-padding-top: 189.6px
  }
  h1 {
    padding: 10px;
    margin: 40px 0 0;
    font-size: 1.5rem;
  }
  nav {
    height: 50px;
  }
  .nav-list {
    display: none;
  }
  .socials {
    margin-top: 0;
  }
  ul.socials-list {
    display: flex;
  }
  ul.socials-list li a {
    display: flex;
    height: 20px;
    align-items: center;
  }
  ul.socials-list li a img {
    width: 20px;
    margin: auto 0;
  }
  /*
  .home-wrapper {
      margin-top: 50px;
  }*/
}

/* Fonts */
@font-face {
  font-family: "Futura_Md_BT";
  src: url("./fonts/futura_md_bt/FuturaBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura_Book";
  src: url("./fonts/futura_book/FuturaBookItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Functional */
#nav_checkbox:checked ~ ul.nav-list-mobile {
  display: flex;
  align-items: center;
}


/* HTML tags */

html * {
  font-family: Futura_Book;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

div {
    font-size: 1.3rem;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.button {
      background-color: #303030;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 4px;
      font-size: 1.5rem;
    }


/* navbar */
nav {
  background-color: black;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hamburger_icon {
  stroke: white;
  fill: white;
}

.nav_toggle {
  position: absolute;
  right: 0;
  margin: 5px 20px;
  cursor: pointer;
}
.nav_checkbox {
  display: none;
}

.menu {

}

.nav-mobile {
  background-color: black;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  display: none;
  padding: 10px 0 10px;
  border-bottom: 1px solid gray;
}

ul.nav-list li {
  display: inline-block;
  font-size: 1.5rem;
}

ul.nav-list li a {
  padding: 25px 30px 10px;
}

/* main */
main {
  margin: 0 auto 0 auto;
  width: 80%;
}

/* home */
.title-img {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 20%);
  width: 60%;
  z-index: 1;
}

.cover-img {
  width: 100%;
}


/* Konzept */

.konzept {
    text-align: center;
}

p.konzept {
    font-size: 1.5rem;
}

/* music */
.music-wrapper {
}


/* anmelden */
.anmelden {
    text-align: center;
}

/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-img {
  border: solid white 2px;
  display: block;
  height: 300px;
  width: 300px;
  margin: 20px;
  object-fit: cover;
  object-position: center;

}

/* footer */
footer {
  text-align: center;
  padding: 10px 0 10px;
  margin-top: 40px;
}

.imp_checkbox {
  display: none;
}

.imp-header {
  color: gray;
}

label.imp_toggle:hover {
  cursor: pointer;
}

.imp-wrapper {
  display: block;
  margin: 0 auto;
  width: 45%;
}

p.imp {
  text-align: center;
  font-size: 0.8rem;
  text-transform: none;
  display: none;
  color: grey;
  padding: 5px 0 5px;
}

#imp_checkbox:checked ~ p.imp {
  display: block;
}

.footer-copyright {
  color: grey;
  font-size: 0.7rem;
  margin: 5px 0 0;
  padding: 5px 0 5px;
}

.footer-siteby {
  color: grey;
  text-transform: none;
  font-size: 0.7rem;
  margin: 0;
  padding: 5px 0 5px;
}


/* overlay */

.overlay-container {
  position: relative;
  width: 344px;
  height: 344px;
}

.image {
  display: block;
  width: 300px;
  margin
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px;
  border: solid white 2px;
  opacity: 0;
  transition: .5s ease;
  background-color: #b1facd;
}

.overlay-container:hover .overlay {
  opacity: 0.8;
}

.overlay-text {
  color: grey;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* faq accordion */
.accordion-container h1{
  color: #fff;
  text-align: center;
}

details{
  background-color: #303030;
  color: #fff;
  font-size: 1.5rem;
}

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
  font-size: 1.3rem;
}
