body {
  font-family: Arial, sans-serif;
  padding: 2em;
  background: #f9f9f9;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  /*text-align: center;*/
}

p {
  /*text-align: center;*/
}

.description {
  /*text-align: center;*/
  margin-bottom: 2em;
}


.sample {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: 3em;
  border: 1px solid #ddd;
  padding: 1.5em;
  max-width: 900px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-left: auto;
  margin-right: auto;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media {
  text-align: center;
  width: 100%;
}

.spectrogram, .raw-spectrogram {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 0.5em;
}

select {
  font-size: 1.1em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: border 0.3s ease;
  width: 80%;
  max-width: 300px;
}

select:hover,
select:focus {
  border-color: #007acc;
  outline: none;
}

h3 {
  /*text-align: center;*/
  margin-bottom: 1em;
  grid-column: span 2;
}

.sample h3 {
  text-align: center;
}

.dataset-select-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 1.1em;
  margin-top: : 2em;
}

.dataset-select-wrapper select {
  margin-left: 1em;
  font-size: 1em;
  padding: 0.4em 0.8em;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 2em;
}

.dataset-select-wrapper label {
  margin-top: 2em;
}

.raw-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1em;
  width: 100%;
}

.raw-audio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
}

.raw-audio-wrapper audio {
  width: 100%;
  outline-offset: 2px;
  border-radius: 4px;
}

.raw-label {
  margin-top: 0.3em;
  color: #555;
  text-align: center;
}

.tab-container {
  max-width: 900px;
  margin: 0 auto 2em auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
}

.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ddd;
  background: #f0f0f0;
}

.tab-buttons button {
  flex: 1;
  padding: 1em;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tab-buttons button:hover {
  background: #e6f2ff;
}

.tab-buttons button.active {
  background: white;
  border-bottom: 3px solid #007acc;
  color: #007acc;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 2em;
}

.tab-content.active {
  display: block;
}